@model IEnumerable<DiscordWebApp.Models.ServerListViewModel>

@{
    ViewBag.Title = "Home Page";
}


<div class="container" style="text-align: center;">
    <h2>Discord Analytics</h2>
    <p>Check out stuff about your server, yo.</p>
    <br />
    <img src="~/Content/Images/discord_logo.png" class="col-centered" />
</div>
