@model PagedList.IPagedList<DiscordWebApp.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.ServerName</h2>
<p>
    @Html.ActionLink("Server Details", "Details", "Server", new { id = ViewBag.ServerId }, null) 
</p>

@Html.Partial("_Users", @Model)

<p>
    @Html.ActionLink("Create New", "Create", new { serverId = ViewBag.ServerId })
</p>

