@model PagedList.IPagedList<DiscordWebApp.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.ServerName</h2>

@Html.Partial("_Users", @Model)

<p>
    @Html.ActionLink("Create New", "Create", new { serverId = ViewBag.ServerId })
</p>

