@model DiscordWebApp.Models.Server

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Name</h2>

@Html.Partial("_Users", @Model.Users.OrderBy(x => x.Username))

<p>
    @Html.ActionLink("Create New", "Create", new { serverId = Model.Id })
</p>

